@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@100&display=swap");

h1 {
  border-top: 4px double;
  border-bottom: 4px double;
  font-family: "Roboto", Sans-Serif;
  padding: 1em;
  font-size: 2em;
  line-height: 0.5em;
  margin: 5px 0px 0px 0px;
  width: fit-content;
  color: black;
}

h2 {
  font-family: 'Roboto', Sans-Serif;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1em;
  margin: 5px 0px 0px 0px;
  color: yellow;
}

body {
  background-color: darkslategrey;
 
}

.bioimage {
  border: 0.5px solid #ccc;
  padding: 7px;
  box-shadow: 3px 3px 3px #999;
  height: fit-content;
}

footer {
  border-top: 5px double;
  border-bottom: 5px double;
  background-color: white;
  height: 55px;
  padding: 0.5em;
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}


nav a {
  color: yellow;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

nav a:hover {
  color: red;
}

header {
  background-color: white;
  padding: 0.5em;
  text-align: center;

}
.byu-link{
  color:black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  max-width: 960px;
  margin: 0 auto;
  font-size: 15px;
}