@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@100&display=swap");

h1 {
    border-top: 5px double;
    border-bottom: 5px double;
    background-color:white;
    font-family: "Roboto", Sans-Serif;
    padding: 0.5em;
    font-size: 2em;
    line-height: 1em;
    margin: 5px 0px 0px 0px;
  }

  h2 {
    
    font-family: "Roboto", Sans-Serif;
    padding: 0.5em;
    font-size: 1em;
    line-height: 1.5em;
    margin: 5px 0px 0px 0px;
  }
  #content {
    max-width: 960px;
    margin: 0 auto;
    background:#A1CEAF;;
  }
  
  body {
    background-color:darkslategrey;
    font-family: Roboto;}

    .bioimage {float: right;
        border: 1px solid #ccc;
        padding: 5px;
        box-shadow: 5px 5px 5px #999;
        grid-column: 3;
        grid-row: -1;
        max-height: auto;
      }
    

    footer {
      border-top: 5px double;
      border-bottom: 5px double;
      background-color: white;
      height: 55px;
      padding: 0.5em;
    }

    nav a {
      color: white;
      text-decoration: none;
    }
    nav a:hover {
      color: yellow;
    }

    