/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  nav button {
    display: none;
  }
nav{
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}
  nav ul li {
    float: left;
    
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: .6rem 1rem;
    
  }
  nav ul.hide {
    display: block;
  }

   .header-title {
    justify-content: flex-start;
  } 

.social{
    text-align: right;

}
.social img{
    padding-right: .5em;
    padding-bottom: 1.5em;
    height: 50px;
}
footer {
    height: 70px;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  h2 {
    font-family: "Explora", cursive; 
    font-size: 60px;
    color: #081C15;
  }
  .content{
    max-width: 1500px;
    margin: 0 auto;
  }
  .phrase{
    margin: -2em;
    padding-bottom: 3em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;}

    
} /*end large */
