/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* *****************NAV***************** */
nav ul.hide {
   display:none;
}   
nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  margin-left: 5px;
}

nav {
  background-color: #1B4332;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #fff;
  border-top: solid #db5461;
 }

nav ul li:hover {background-color:#FFD9CE;}

nav ul li a:hover {
  background-color: #ffd9ce
}

nav ul li.active a{background-color: #db5461;color: #fff;}

nav ul.hidenav {display: none;}




/* ****************footer********************* */

footer {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 5px;
  padding-right: 5px;

}

.social {
  text-align:center;
  color: white;
  font-family: 'Explora', Arial, Helvetica, sans-serif;
  font-size: 30px;
  background-color: #1b4332;
  margin-bottom: -1em;
}

.map{
  display: none;
}

.contact {
  text-align: center;
  background-color: #74c69d;
  position: relative;
  padding: 2em;
  height: 4em;
}

.map{
  display: none;
}

/* ***************** Header  ****************** */

header {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  padding-right: 2px;
}

.header-title {
  padding: 0em 2em;
  flex-direction: column;
}



.phrase {
  margin: -2em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}



/* *************Content************ */
.content {
  padding: 10px;
max-width: 100%;

}

.dcontent{
  display: block;
  position: relative;
  border: 1px solid #db5461;
  margin: 10px auto;
  width: 500px;
  height: 300px;
  padding:5px;
}
h2 {
  font-family: "Explora", cursive;
  font-size: 35px;
  color: #081C15;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





/* *****************previous*********
header {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  padding: 0em 2em;
  flex-direction: column;
}



h2 {
  font-family: "Explora", cursive;
  font-size: 35px;
  color: #081C15;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}

.content {
  padding: .3em;
}

.phrase {
  margin: -2em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

nav {
  background-color: #74c69d;
  font-family: "Roboto", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li.active a{background-color: rgba(0, 0, 0, 0.2);color: #fff
  ;}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #081c15;
  border-top: solid #db5461;
}

nav ul li a:hover {
  background-color: #ffd9ce;
}

.contact {
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}

.social img {
  height: 55px;
}

nav ul.hide {
  display: none;
}

.herodiv {
  position: relative;
  border: 1px dashed cyan;
  margin: 10px auto;
  width: 800px;
  height: 300px
}

.hero-ph {
  background-color: #ccc;
  border: 1px solid #333;
  width: 100%;
  height: 250px
}


.social {
  text-align:center;
  color: white;
  font-family: 'Explora';
  font-size: 30px;
  background-color: #1b4332;
}
.contact {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: #74c69d;
  height: 5em
}
.map{
  display: none;
}


footer {
  font-family: Arial, Helvetica, sans-serif;
}
.contact{
  background-color: #74c69d;
  height: 5em;
} */













/*end medium */