/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    section.town {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
      }

    h2{
        color: #db5461;
        font-size: 50px;
    }

      article.town2 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:#1b4332;
        color: white;
      }
    
      article.town6 {
        flex-direction: row-reverse;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
       background-color: #1b4332;
        color: white;
      }
    
      article.town0 {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color:#1b4332;
        color: white;
      }
    
    
      
      
      
      article.homeArticle {
        flex-direction: row-reverse;
      }
    
     


}