/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* *****************NAV***************** */
nav ul.hide {
   display:none;
}   
nav button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  margin-left: 5px;
}

nav {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 20px;
 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #fff;
  border-top: solid black;
 }

nav ul li:hover {background-color:#D90429;}

nav ul li a:hover {
  background-color: #D90429
}

nav ul li.active a{background-color: white;color: #D90429;}

nav ul.hidenav {display: none;}




/* ****************footer********************* */

footer {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 5px;
  padding-right: 5px;

}

.footer-top{
  background-color: white;
  padding-top: 5px;
  font-size: 25px;
 color: #D90429;
 padding-left: 50px;
 border: 5px solid black;
 margin-top: 100px;

}


button{
  color: #fff;
}

.social {
  text-align:center;
  color: goldenrod;
  font-family:'Charm', cursive;
  font-size: 30px;
  background-color: black;
  margin-bottom: -1em;
}

.map{
  display: none;
}

.contact {
  text-align: center;
  background-color: black;
  position: relative;
  padding: 2em;
  height: 6em;
  color:white;
}

.map{
  display: none;
}

/* ***************** Header  ****************** */

header {
  background-color:goldenrod;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
  
}

.logo-img{
  margin-top: 20px;
  margin-left: 100px;

}

.header-title {
  text-align: center;
  flex-direction: column;
  padding-left: 12px;
  font-size: 20px;
}



.phrase {
 margin-left: 20px;
  text-align: center;
  font-family:'Ubuntu', sans-serif;
  font-size: 15px;

}

.alert {
  padding: 20px;
  background-color: #D90429; /* Red */
  color: white;
  margin-bottom: 15px;
  font-family: 'Charm', cursive;
  width: 100%;
  text-align: center;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}





/* *************Content************ */
.content {
  padding: 10px;
max-width: 100%;
background-color: black;
}

body{
  background-color: black;
}
.dcontent{
  display: block;
  position: relative;
  border: 1px solid #db5461;
  margin: 10px auto;
  width: 500px;
  height: 300px;
  padding:5px;
}
h2 {
  font-family: "Explora", cursive;
}

.title{
  color: #fff;
}



/* *****************Main********* */
.add{
  color: white;
  text-align: center;
}
.about{
  margin-top: 20px;
  border: 5px solid white;
  padding: 15px 15px;
  font-size: 15px;
  color: #fff;
}

.sign-up{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
  padding: 15px;
  border: 5px solid #ccc;
  margin-top: 25px;
  color: #fff;
  text-align: center;
}

.sign-button{
 
  width: 150px;
  height: 55px;
  background-color: #D90429;
  margin-top: 25px;
  margin-bottom: 1px;
  color: #fff;
  text-align: center;
}

.sign-button :hover {
  background-color: white;
}


.advert-top{
  color: #fff;
  margin-top: 45px;
  margin-bottom: -25px;
  text-align: center;
}
section.advert {
  text-align: center;
  font-family:'Roboto', Arial, Helvetica, sans-serif;
  background-color: white;
    padding-left: 5px;
    text-align: center;
  margin-top: 50px;
}

div.business-1 {
  margin-top: 10px;
  border: 5px solid #D90429;
  border-radius: 10px;
}

div.business-2{
  margin-top: 10px;
  border-radius: 10px;
  border: 5px solid #D90429;
}

div.business-3{
  margin-top: 10px;
  border-radius: 10px;
  border: 5px solid #D90429;
}


.advert p {
  font-size: 18px;
}


.weather{
  border: 0.5px solid #ccc;
  box-shadow: 10px 10px 10px 10px #999;
  color: #fff;
  padding-left: 10px;
 
}

.banner-img{
  width:max-content;
  border: 10px solid #ccc;
  padding: 7px;
  box-shadow: 10px 3px 13px 13px #D90429;
  
}

.preston{
  color: #D90429;
  font-size: 60px;
  text-align: center;
}

.top-section{
  margin-bottom: 2em;
}



/* *************************************************** */
form fieldset{
  margin: 2rem 0;
  border: 5px solid white;
  border-radius: 10px;
  padding: .5rem 2%;
  max-width: 100%;
}

form legend{
  color: #D90429;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 30px;
}

form label.top, form div{
  display: block;
  padding-top: 2.5rem;
  color:white;
  font-size: 20px;
  font-family:'Charm', 'cursive';
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 20px;
  border: solid 1px white;
  border-radius: 4px;
  padding: .75rem;
  color:#D90429;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);

}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: white;
}

form input.submitBtn {
  border: none;
  background-color: #D90429;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 100%;
  max-width: 20rem;
}

form label.top input:required{
  border-left: red solid 6px;
}

form label.top input:required:valid{
  border-left: #29293D solid 6px;
}

form{
  background-color: black;
}

textarea{
  margin-top: 30px;
  height:250px;
  width:250px;
}


.flexly {
	display: flex;
	align-items: center;
  margin-top: 2rem;
  font-size: 20px;
  margin-bottom: 1rem;
}

#ratingvalue {
	margin: 0 15px;
	color: white;
}

.thanks{
  font-size: 100px;
  text-align: center;
  color: white;
}

h1{
  font-family: 'Charm', cursive;
  font-size: 30px;

}

.mapouter{
  display: none;
}

.return{
  text-align: center;
  margin-left: 15rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: white;
}






/* ************************************* */

.history{
  color: #fff;
  width: 100%;
  margin-top: 4em;
}

.center-color{
  color: #D90429;
  font-size: 60px;
  text-align: center;
  margin-top: 3em;
}


main picture.d-img{
  width: 50%;
  margin: 0 0 0 2%;
  float: right;
  border: 10px solid #ccc;
  padding: 7px;
  box-shadow: 10px 3px 8px 8px #D90429;
}
main picture.d-img img{
  width: 100%
}


.special{
  margin-top: 300px;
  color: rgb(235, 197, 197);
  text-align: center;
}

.color-font{
  color: #D90429;
}

.spec{
  text-align:center;
  color: white;
  font-family:'Charm', cursive;
  font-size: 30px;
  margin-bottom: 80px;
  border:5px solid #ccc;
  box-shadow: 5px 5px 5px 5px #fff;
  padding: 15px;

}

.half-img{
  width: 50%;
}


.cards{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
}

.cards img:hover{
    
  opacity: 0.75;
  background-color: #081C15;
  color: white; 
}

.cards img{
  box-shadow: 5px 0 5px;
 margin-top: -1rem;
 max-width: 100%;
}

.cards section:hover{
  opacity: 0.75;
  background-color: #D90429;
  color: white;
  
}

.cards section{
  text-align: center;
}









/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}













/* *****************previous*********
header {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  padding: 0em 2em;
  flex-direction: column;
}



h2 {
  font-family: "Explora", cursive;
  font-size: 35px;
  color: #081C15;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}

.content {
  padding: .3em;
}

.phrase {
  margin: -2em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

nav {
  background-color: #74c69d;
  font-family: "Roboto", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li.active a{background-color: rgba(0, 0, 0, 0.2);color: #fff
  ;}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #081c15;
  border-top: solid #db5461;
}

nav ul li a:hover {
  background-color: #ffd9ce;
}

.contact {
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
}

.social img {
  height: 55px;
}

nav ul.hide {
  display: none;
}

.herodiv {
  position: relative;
  border: 1px dashed cyan;
  margin: 10px auto;
  width: 800px;
  height: 300px
}

.hero-ph {
  background-color: #ccc;
  border: 1px solid #333;
  width: 100%;
  height: 250px
}


.social {
  text-align:center;
  color: white;
  font-family: 'Explora';
  font-size: 30px;
  background-color: #1b4332;
}
.contact {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: #74c69d;
  height: 5em
}
.map{
  display: none;
}


footer {
  font-family: Arial, Helvetica, sans-serif;
}
.contact{
  background-color: #74c69d;
  height: 5em;
} */













/*end medium */