/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
 
 /* nav main */
  
/* nav 5 day forcast */




nav button {display: none;}

  
  nav ul.hide {
    display:flex;
 }   

  nav ul {
    margin: 0;
  }
  
  nav ul {display: flex; }
  nav ul li {flex: 1 1 100%; }

  nav ul li {float: left;
  text-align: center;}

  nav ul li a {
    border: none;
    flex: 1 1 auto;
    background-color: #1b4332;
    color: #fff;
    font-size: 25px;
  }
  
  /* *************Footer****** */
  .map-space{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1B4332;
    width: 100%;
    
  }

  footer{
    margin-top: 5rem;
  }

  .map{
    display: inherit;
  }
  
  
  .social {
    text-align:center;
    color: white;
    font-family: 'Explora';
    font-size: 50px;
  }
  
  
  .contact{
    padding-top: 3em;
  }
  
  
  /* ******************Header**************** */
  
  .phrase{
    margin: -2em;
    padding-bottom: 3em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;} 
  
    h2 {
      font-family: "Explora", cursive; 
      font-size: 40px;
      color: #db5461;
    }
    
    .title {
      font-size: 60px;
      color: #081C15;
    }
 
    
/* ************5 day weather****************** */

.flex {
  display: flex;
  flex-flow: row wrap;
}

.col-head,
th {
  font-weight: 700;
  font-size: 1rem;
  background-color: #1B4332;
  color: white;
}

.flex-col {
  flex: 1 1 auto;
  background-color: #74C69D;
}

.flex-col,
.column-col,
.grid-col {
  border-bottom: 2px solid #1B4332;
  border-left: 2px solid #1B4332;
  text-align: center;
}

.flex-col:hover,
td:hover,
.column-col:hover,
.grid-col:hover {
  opacity: 0.75;
  background-color: #081C15;
  color: white;
}

.flex,
.column,
.grid {
  border-right: 1px solid #081C15;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #081C15;
  text-align: center;
}

 
.data {
  display: block;
  padding: 0 5px 5px;
  font-size: 1rem;
  text-align: center;
  color: #081C15 ;
}


 /* ******************Content/Main********************* */
 
 

.preston {
  padding-left: 60px;
  margin-bottom: -3px;
  font-size: 60px;
}


.content{
  max-width: 1500px;
  margin: 0 auto;
  padding: 5px;
}
 



 
/* ****************************************************** */

  .dayimage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    grid-gap: 10px;
  }

  picture:hover{
    box-shadow: 5px 5px 20px #db5461;
  }
    

  .data {
    display: block;
    padding: 0 5px 5px;
    font-size: 0.8rem;
    text-align: center;
  }


  .title {
    font-size: 60px;
  }



/* ****************************************************** */


}

/*end large */