/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


nav ul.hide {
  display:none;
}   
nav button {
 background-color: transparent;
 border: none;
 font-size: 2rem;
 color: #fff;
 margin-left: 5px;
}

nav {
 background-color: #1B4332;
 font-family: "Roboto", sans-serif;
 font-size: 20px;

}

nav ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

nav ul li a {
 display: block;
 padding: .8rem 2%;
 text-decoration: none;
 color: #fff;
 border-top: solid #db5461;
}

nav ul li:hover {background-color:#FFD9CE;}

nav ul li a:hover {
 background-color: #ffd9ce;
}

nav ul li.active a{background-color: #db5461;color: #fff;}

nav ul.hidenav {display: none;}




/* ****************footer********************* */

footer {
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 5px;
 padding-right: 5px;
  margin-top: 2rem;
}

.social {
 text-align:center;
 color: white;
 font-family: 'Explora', Arial, Helvetica, sans-serif;
 font-size: 30px;
 background-color: #1b4332;
 margin-bottom: -1em;
}

.map{
 display: none;
}

.contact {
 text-align: center;
 background-color: #74c69d;
 position: relative;
 padding: 2em;
 height: 4em;
}

.map{
 display: none;
}

/* ***************** Header  ****************** */

header {
 background-color: #74c69d;
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 2px;
 padding-right: 2px;
}

.header-title {
 padding: 0em 2em;
 flex-direction: column;
}



.phrase {
 margin: -2em;
 padding-bottom: 2em;
 text-align: center;
 font-family: "Roboto", sans-serif;
 font-size: 15px;
}



/* *************Content************ */
.content {
 padding: 10px;
max-width: 100%;

}

h2 {
 font-family: "Explora", cursive;
 font-size: 35px;
 color: #081C15;
}


body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: black;
}

.pic{
  grid-column: inherit;
  display: flex;
}
figcaption{
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  color: #db5461;
}

 .pic{
  transition: filter 0.5s;
  border: solid grey;
  width: fit-content;
  box-shadow: 10px 5px 8px #74c69d;
}



#lastVisit{
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}




.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*end medium */


/* /////////////////////////////////////////////////////////////////////////////////// */
/* header {
  background-color: #74c69d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  padding: 0em 2em;
  flex-direction: column;
}

footer {
  padding-top: 0.5em;
  padding-bottom: 7em;
}

.social {
  text-align:center;
  color: white;
  font-family: 'Explora';
  font-size: 30px;
  background-color: #1b4332;
}


.title {
  font-family: "Explora", 'cursive';
  font-size: 35px;
  color: #081c15;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #db5461;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: white;
  float: right;
}

.content {
  padding: 0.2em;
  max-width: max-content;
}

.phrase {
  margin: -2em;
  padding-bottom: 2em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

nav {
  background-color: #1b4332;
  font-family: "Roboto", sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li.active a {
  background-color: #db5461;
  color: #fff;
  text-shadow: none;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: white;
  border-top: solid #db5461;
}

nav ul li a:hover {
  background-color: #ffd9ce;
}

.contact {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  background-color: #74c69d;
}

.social img {
  height: 55px;
}

nav ul.hide {
  display: none;
}


.pic{
  grid-column: inherit;
  display: flex;
}
figcaption{
  font-family: "Explora", 'cursive';
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

 .pic{
 
  transition: filter 0.5s;
  border: solid grey;
  width: fit-content;
}


.map{
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
} */
/*----- Clearfix: Force an Element not to collapse -----*/

